body {
  font-family: sans-serif;
}

input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  padding: 4px;
  border: 1px solid #c1c1c1
}

input:focus, select:focus, textarea:focus {
  border-color: #2196f3;
  outline: none;
}

.formField {
  padding: 10px;
}

.inline-group-fields {
  display: flex;
}

.error-message {
  color: red;
}

label abbr {
  color: red
}

abbr[title] {
  text-decoration: none;
}

label {
  display: block;
  vertical-align: top;
  margin: 2px;
}
