body {
  font-family: sans-serif;
}

.formField {
  padding: 10px;
}

.inline-group-fields {
  display: flex;
}

.error-message {
  color: red;
}

label abbr {
  color: red
}

abbr[title] {
  text-decoration: none;
}

label {
  display: block;
  margin: 2px;
}
